<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Inconsolata', monospace;
            padding-left: 25%;
            padding-right: 25%;
            padding-top: 5%;
        }
    </style>
  </head>
  <body>
    <h1 id="heading">Request Header Parser Microservice</h1>

<h3 id="userstories">Details:</h3>

<ol>
<li>I can get the IP address, preferred languages (from header <code>Accept-Language</code>) and system infos (from header <code>User-Agent</code>) for my device. Just Using it to return Headers</li>
</ol>

<h4 id="exampleusage">Example usage:</h4>

<ul>
<li>[base_url]/api/whoami</li>
<li>[base_url]</li>
</ul>

<h4 id="exampleoutput">Example output:</h4>

<code>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5","software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>

  </body>
</html>
